<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style1.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

@*    <link rel="stylesheet" href="~/OnlineMarket.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

 <div class="btn1" id="secondbtn1">
         <span class="fas fa-bars"></span>
         </div>

         <nav1 class="sidebar">
         <div class="text">
            Side Menu
         </div>
         <ul>
            <li class="active"><a href="#">Dashboard</a></li>
            <li>
               <a href="#" class="feat-btn">Features
               <span class="fas fa-caret-down first"></span>
               </a>
               <ul class="feat-show">
                  <li><a href="#">Pages</a></li>
                  <li><a href="#">Elements</a></li>
               </ul>
            </li>
            <li>
               <a href="#" class="serv-btn">Services
               <span class="fas fa-caret-down second"></span>
               </a>
               <ul class="serv-show">
                  <li><a href="#">App Design</a></li>
                  <li><a href="#">Web Design</a></li>
               </ul>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Shortcuts</a></li>
            <li><a href="#">Feedback</a></li>
         </ul>
      </nav1>

<body>

    <header>
                    
      
      
            @*@await Component.InvokeAsync("Category")*@
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">

                 



                   @*<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <span class="navbar-toggler-icon"></span>
                   </button>*@

                <div> <button class="btn" id="mybtn">
         <span class="fas fa-bars"></span>
         </button>
         <div class="overlay"></div>
</div>








                <a class="navbar-brand" asp-controller="Home" asp-action="Index">OnlineMarket </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Category" asp-action="GetCategory">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="GetProduct">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Account" asp-action="Logout" class="nav-link">
                            <button type="submit" style="background-color:unset;border:none;">
                            <i class="bi bi-person" style="font-size: 2.5em;padding-left:0.05em"></i>
                            <p style="margin-top:-0.9em;">Logout</p>
                            </button>
                        </form>
                            <div><a asp-controller="Basket" asp-action="Get" class="nav-link">
                            <i class="bi bi-cart4" style="font-size: 2.5em;"></i>
                            <p style="margin-top:-0.9em; margin-left:0.25em">Cart</p>
                            </a>
                            </div>
                    }
                    else
                    {
                        <div><a asp-controller="Account" asp-action="Login" class="nav-link"> 
                            <i class="bi bi-person" style="font-size: 2.5em; margin-right:0.30em"></i>
                            <p style="margin-top:-0.9em;">Login</p></a>
                        </div>

                        <div>
                            <i class="bi bi-cart4" style="font-size: 2.5em;"></i>
                            <p style="margin-top:-0.9em; margin-left:0.25em">Cart</p>
                        </div>
                    }
                </div>
             </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-primary" style="height: 100px;padding-bottom:50px" data-bs-theme="dark">
            <form class="d-flex m-lg-1" style="width:100%">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <nav class="navbar navbar-expand-lg bg-primary"
             style="border-radius: 25px 25px 0 0; background:linear-gradient(90deg,#34b6e2, #5f62b0,#db307d);margin-top: -28px;"
                    data-bs-theme="dark">
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineMarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


        <script>
         $('#mybtn').on("click",function(){
           $('html body').toggleClass("lock");
           $('#secondbtn1').addClass("click");
           $('.sidebar').toggleClass("show");

            var $overlay = $('.overlay'),
            openClass = 'is-open';
            $overlay.addClass(openClass);
         });
         $('#secondbtn1').on("click",function(){
           $('html body').toggleClass("lock");
           $('#secondbtn1').toggleClass("click");
           $('.sidebar').toggleClass("show");

            var $overlay = $('.overlay'),
            openClass = 'is-open';
            $overlay.removeClass(openClass);
         });

         $('body main').on("click",function(){
           $('html body').removeClass("lock");
           $('#mybtn').removeClass("click");
           $('.sidebar').removeClass("show");
           $('#secondbtn1').removeClass("click");
         });
           $('.feat-btn').click(function(){
             $('nav1 ul .feat-show').toggleClass("show");
             $('nav1 ul .first').toggleClass("rotate");
           });
           $('.serv-btn').click(function(){
             $('nav1 ul .serv-show').toggleClass("show1");
             $('nav1 ul .second').toggleClass("rotate");
           });
           $('nav1 ul li').click(function(){
             $(this).addClass("active").siblings().removeClass("active");
           });
      </script>
    