@using OnlineMarket.BLL.ViewModels.Product;
@model ProductVM

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.ProductPhoto ?? Array.Empty<byte>())"
                 class="img-fluid rounded-start rounded">
        </div>
    </div>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <input type="hidden" asp-for="Id" />
            <label asp-for="ProductName" class="p-0"></label>
            <input asp-for="ProductName" class="form-control" disabled />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="GetCategory" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>