@using OnlineMarket.DAL.Entity;
@model List<Basket>


<h1>Basket Model</h1>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.Product
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
