@using OnlineMarket.BLL.ViewModels.Category;

@model CategoryVM
@{
    List<CategoryVM> catList = ViewBag.Category;
}
<h3>Create new Category</h3>

<form asp-action="Create" method="post">

    <div asp-validation-summary="ModelOnly" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.CategoryName" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.CategoryName">
            <span asp-validation-for="@Model.CategoryName" class="text-primary"></span>
        </div>
        <div class="form-group col-md-4" style="height:500px">
            <label for="exampleSelect2" class="col-form-label">Категории</label>
            <ul>
                @foreach(var item in catList)
                {
                    <li>@item.CategoryName</li>
                }
            </ul>
            
        </div>
    </div>
    <p></p>
    <button class="btn btn-primary">Отправить</button>
</form>