@using OnlineMarket.BLL.ViewModels.Category;
@model List<SubCategoryVM>

<p>SubCategory List</p>

<p>
    <a asp-action="GetSubCategory">Back to SubCategoryList</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.CategoryName
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
