@using OnlineMarket.BLL.ViewModels.Product;
@model List<ProductVM>


<header>
    <style>
        .card_container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-auto-rows: minmax(100px, 500px);
        }
    </style>
</header>


<div class="card_container">

    @foreach (var item in Model)
    {
        <div class="container" style="position:center;width:250px;height:500px">
            <div @*class="card text-white bg-secondary mb-3" style="max-width: 15rem;max-height:19rem;"*@>                
                <div style="width:100%;height:300px">
                    <svg width="100%" height="100%"> <image href="data:image/jpeg;base64,@Convert.ToBase64String(item?.ProductPhoto ?? Array.Empty<byte>())"
                     width="100%" height="100%" style="overflow:hidden" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"/>
                     </svg>
                </div>
                <div class="card-body" @*style="overflow-y:scroll;"*@>
                    <h6 class="card-title" style="max-width:100%;max-height:5rem;overflow-y:scroll;" @*style="margin-top:-25px;"*@>@Html.DisplayFor(modelItem => item.ProductDescription)</h6>
                    <p class="card-text" >
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </div>
        </div>
    }
</div>

