@using OnlineMarket.BLL.ViewModels.Product;
@model List<ProductVM>


<header>
    <style>
        .card_container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: minmax(100px, 300px);
        }
    </style>
</header>


<div class="card_container">

    @foreach (var item in Model)
    {
        <div class="container" style="position:center;">
            <div class="card text-white bg-secondary mb-3" style="max-width: 15rem;max-height:19rem;overflow:hidden;">
@*                <div class="card-header">@Html.DisplayFor(modelItem => item.ProductName)</div>*@
                <div style="width:210px;">
                    <svg width="210" height="134"> <image href="data:image/jpeg;base64,@Convert.ToBase64String(item?.ProductPhoto ?? Array.Empty<byte>())"
                     width="100%" height="100%" style="overflow:hidden" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"/>
                     </svg>
                </div>
                <div class="card-body" style="overflow-y:scroll;">
                    <h4 class="card-title" style="margin-top:-25px;">@Html.DisplayFor(modelItem => item.ProductDescription)</h4>
                    <p class="card-text" >
                        @Html.DisplayFor(modelItem => item.Price)
                    </p>
                </div>
            </div>
        </div>
    }
</div>


